<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    
                </div>
                <div class="profile-name">
                    <p class="name">
                        Hoşgeldin Mert
                    </p>
                    <p class="designation">
                        Super Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-th-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistics/">
                <i class="fa fa-chart-bar menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Category/CategoryList/">
                <i class="fa fa-tags menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByCustomerName/">
                <i class="fa fa-users menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (İsme Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListOrderByDesc/">
                <i class="fa fa-credit-card menu-icon"></i>
                <span class="menu-title">Müşteri Listesi (Bakiyeye Göre)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerGetByCity/">
                <i class="fa fa-map-marker menu-icon"></i>
                <span class="menu-title">Şehre Göre Arama</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="fa fa-cubes menu-icon"></i>
                <span class="menu-title">Ürün Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/First5ProductList/">
                <i class="fa fa-star menu-icon"></i>
                <span class="menu-title">Ürün Listesi (İlk 5 ürün)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/Skip4ProductList/">
                <i class="fa fa-list-ol menu-icon"></i>
                <span class="menu-title">Ürün listesi (4 Ürün)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderList/">
                <i class="fa fa-shopping-cart menu-icon"></i>
                <span class="menu-title">Sipariş Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/AllStockSmollerThen5/">
                <i class="fa fa-exclamation-triangle menu-icon"></i>
                <span class="menu-title">Sipariş Listesi (Stok Sayısı < 5)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus/">
                <i class="fa fa-info-circle menu-icon"></i>
                <span class="menu-title">Duruma göre Sipariş Listesi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListSearch/">
                <i class="fa fa-search menu-icon"></i>
                <span class="menu-title">Sipariş Arama</span>
            </a>
        </li>
    </ul>
</nav>